{% extends "base.html" %}

{% block title %} Minhas Tarefas {% endblock %}

{% block content %}
<h1>Minhas tarefas</h1>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Usuário</th>
      <th scope="col">Data limite</th>
      <th scope="col">Atualizado em</th>
    </tr>
  </thead>
  <tbody>

    {% for task in tarefas %}
    <tr>
      <th>{{ task.id }}</th>
      <th>{{ task.titulo }}</th>
      <th>{{ task.descricao }}</th>
      <th>{{ task.usuario }}</th>
      <th>{{ task.data_limite }}</th>
      <th>{{ task.atulaizado_em }}</th>
    </tr>

    {%endfor%}

  </tbody>
</table>

{% endblock %}


