{% extends "base.html" %}

{% block title %} Minhas Pendentes {% endblock %}

{% block content %}
<br>
<h1>Minhas Pendentes</h1>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Usuário</th>
      <th scope="col">Data limite</th>
      <th scope="col">Atualizado em</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  <tbody>

    {% for task in tarefas %}
    <tr>
      <th>{{ task.id }}</th>
      <td>{{ task.titulo }}</td>
      <td>{{ task.descricao }}</td>
      <td>{{ task.usuario }}</td>
      <td>{{ task.data_limite }}</td>
      <td>{{ task.atualizado_em }}</td>
    </tr>

    {%endfor%}

  </tbody>
</table>

{% endblock %}


